html, body {
    background-image: url("images/rainbowSky.png");
}

.carousel-caption {
    top: 62%;
    transform: translateY(-50%);
    bottom: initial;
}

.card-title {
    margin-top: 22%;

}

.card {
    border: 0px !important;
    border-radius: 0px !important;
}

.card-img {
    border: 0px;
    border-radius: 0px !important;
}

#first-card {
    margin-top: 75px;
}

#twitch-container {
    margin-top: 75px;
    padding-top: 15px;
    padding-bottom: 10px;
}
